.landing {
    height: 99vh;
    overflow: hidden;
}

.controlIcon {
    height: 100vh;
    color: transparent !important;
}
.landingContent {
    padding-left: 31px;
    padding-top: 169px;
}
.landingImage {
    object-position: 0% 100%;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh + 50%);
}

.landingImage2 {
    object-position: 100% 100%;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh + 50%) ;
}

.landingImage3 {
    object-position: 100% 100%;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh + 50%) ;
}
.landingImage4 {
    object-position: 100% 100%;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh + 50%) ;
}

.landingDesktop {
    padding: 10px;
    height: 99vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.landingTablet {
    padding: 10px;
    height: 99vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.landingTablet {
    padding: 10px;
    height: 99vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.carousel-control-next, .carousel-control-prev {
    height: 100vh !important
}

.landingMobile, .landingDesktop, .landingTablet {
    display: block;
}
/* Small devices (portrait tablets and large phones, 375px and up) */
@media only screen and (max-width: 767px) {
    .landingDesktop {
        display: none;
    }
    .landingTablet {
        display: none;
    }
    .landingMobile {
        display: block;
    }
    .imageContainer{
        margin-bottom: 100px;
        overflow: hidden;
        height: 55vh;
    }
    .landingContent {
        height: 45vh;
        width: 100%;
        padding-left: 29px;
        padding-top: 169px;
    }
    .landingDate {
        display: none;
    }
    .landingCrew {
        display: none;
    }
    .landingImage { 
        padding: 2px;
        zoom: 300%;
        object-position: -200px -250px;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 55vh ;
    }
    .landingImage3 {
        padding: 5px;
        object-position: 33% 0%;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 55vh ;
    }
    .landingImage2 {
        padding: 5px;
        object-position: 100% 100%;    
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 55vh ;
    }
    .landingImage4 {
        padding: 5px;
        zoom: 1.5;
        object-position: 42% -90px;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 55vh ;
    }
    .imgPlaceholder {
        height: 325px
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .imageContainer{
        display: none;
      }
    .landingMobile {
        display: none;
    }
    .landingDesktop {
        display: none;
    }
    .landingTablet {
        display: block;
    }
    .landingDate {
        margin-top: 10vh
    }
    .landingCrew {
        margin-top: 3vh
    }
    .landingContent {
        width: 100%;
        padding-left: 19px;
        padding-top: 159px;
    }
    .landingImage {
        zoom: 3;
        object-position: -370px -450px;
        /* object-position: -1100px -1300px; */
        object-fit: cover;
        overflow: hidden;
        /* width: 3500px; */
        height: 100vh ;
    }
    
    .landingImage2 {
        object-position: 100% 100%;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100vh ;
    }
    .landingImage3 {
        object-position: 50% 100%;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100vh ;
    }
    .landingImage4 {
        zoom: 1.1;
        object-position: 37% -50px;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100vh ;
    }
  }       
  /* Medium devices (landscape tablets, 1024px and up) */
  @media only screen and (min-width: 1024px) {
    .landingDesktop {
        display: none;
    }
    .landingMobile {
        display: none;
    }
    .landingTablet {
        display: block;
    }
    .landingCrew {
        margin-top: 3vh
    }
    .landingImage {
        padding: 0px;   
        zoom: 3;
        object-position: -370px -450px;
        object-fit: cover;
        overflow: hidden;
        /* width: 4000px; */
        height: 100vh ;
    }
    .landingImage2 {
        object-position: 90% 100%;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100vh ;
    }
    .landingImage3 {
        object-position: 50% 100%;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100vh ;
    }
  }     
  @media only screen and (min-width: 1440px) {
    .landingTablet {
        display: none;
    }
    .landingMobile {
        display: none;
    }
    .landingDesktop {
        display: block;
    }
    .landingCrew {
        margin-top: 3vh
    }
    .landingContent {
        width: 100%;
        padding-left: 77px;
        padding-top: 159px;
    }
    .landingImage2 {
        object-position: -85vw -5vw;
        object-fit: cover;
        overflow: hidden;
        width: calc(100vw + 100%);
        height: calc(100vh + 50%);
    }
    
    .landingImage3 {
        object-position: 50% 0%;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100vh ;
    }
    .landingImage4 {
        object-position: 50% 0%;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100vh ;
    }
    .landingImage {
        padding: 0;
        object-position: -420px -500px;
        zoom:3.5;
        object-fit: cover;
        overflow: hidden;
        /* width: 5000px; */
        height: 100vh ;
    }
  } 
