.list {
    list-style-type: none;
}
.search{
    margin-top: 10vh;
}
.footer1 {
    position: absolute;
    left: 87px;
    font-size: 0.5rem;
    line-height: 0.5rem;
    bottom: 30px
}
.footer2 {
    position: absolute;
    left: 87px;
    font-size: 0.5rem;
    line-height: 0.5rem;
    bottom: 30px
}
.footer3 {
    position: absolute;
    left: 87px;
    font-size: 0.5rem;
    line-height: 0.5rem;
    bottom: 30px
}
.footer4 {
    position: absolute;
    left: 87px;
    font-size: 0.5rem;
    line-height: 0.5rem;
    bottom: 30px
}
.footer {
    position: absolute;
    left: 87px;
    font-size: 0.5rem;
    line-height: 0.5rem;
    bottom: 30px
}
.listContainer {
    position: absolute;
    width: 85px;
    height: 21px;
    left: 87px;
    top: 169px;
}
.background {
    background-image: url("../public/Assets/Images/Fontana_Opening_Lorenzo_Palmieri_062.jpg");
    background-position: 20%; 
    width: 100%;
    height: 100vh;
    background-size: 155% auto;
    resize: both;
}
.background1 {
    background-image: url("../public/Assets/Images/laibBlütenP.jpg");
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
    background-position: 0% 75%; 
    resize: both;
}
.background2 {
    background-image: url("../public/Assets/Images/ROH-Exhibitions9-1600x900.jpg");
    width: 100%;
    height: 100vh;
    background-size: 120% auto;
    background-position: 0% 75%; 
    resize: both;
}
.background3::before {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    content: "";
    background-image: url("../public/Assets/Images/AN_ACRYL_Detail 03.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% auto;
    z-index: -10;
    top: 0;
    left: 0;
    resize: both;
    position: absolute;
}
.background3 {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
}

.background4::before {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    content: "";
    background-image: url("../public/Assets/Images/SUR_SRW_Aman-dan-Gunung-1349x900.jpg");
    width: 100%;
    height: 100vh;
    background-size: 200% auto;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    resize: both;
    z-index: -10;
    top: 0;
    left: 0;
    resize: both;
    position: absolute;
}
.background4 {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .background {
        background-image: url("../public/Assets/Images/Fontana_Opening_Lorenzo_Palmieri_062.jpg");
        background-position: 56% 15%; 
        height: 100vh;
        background-size: 500% auto;
        resize: both;
    }
    .background1 {
        background-image: url("../public/Assets/Images/laibBlütenP.jpg");
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        background-size: 250% auto;
        background-position: 70% 95%; 
        resize: both;
    }
    .background2 {
        /* background-color: #e6e6e4; */
        background-image: url("../public/Assets/Images/ROH-Exhibitions9-1600x900.jpg");
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        background-size: 330% auto;
        background-position: 50% 80%; 
        resize: both;
    }
    
    .background3::before {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        content: "";
        background-repeat: no-repeat;
        background-image: url("../public/Assets/Images/AN_ACRYL_Detail 03.jpg");
        width: 100vw;
        height: 100vh;
        background-size: 270% auto;
        background-position: 50% 50%;
        z-index: -10;
        top: 0;
        left: 0;
        resize: both;
        position: absolute;
    }
    .background3 {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100vh;
    }
    .background4::before {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        content: "";
        background-image: url("../public/Assets/Images/SUR_SRW_Aman-dan-Gunung-1349x900.jpg");
        width: 100%;
        height: 100vh;
        background-size: 450% auto;
        background-position: 58%;
        background-repeat: no-repeat;
        resize: both;
        z-index: -10;
        top: 0;
        left: 0;
        resize: both;
        position: absolute;
    }
    .background4 {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100vh;
    }
    .footer4 {
        display: none !important;
    }
    .footer3 {
        display: none !important;
    }
    .footer2 {
        display: none !important;
    }
    .footer1 {
        display: none !important;
    }
    .footer {
        display: none !important;
    }
    .listContainer {
        position: absolute;
        width: 85px;
        height: 21px;
        left: 29px;
        top: 169px;
    }
    .nav {
        position: absolute;
        width: 61px;
        height: 30px;
        top: 30px;
    }
  }
  
  @media only screen and (max-width: 1439px) and (min-width: 768px){
    
    .footer4 {
        display: none !important;
    }
    .footer3 {
        display: none !important;
    }
    .footer2 {
        left: 29px !important;
    }
    .footer1 {
        left: 29px !important;
    }
    .footer {
        left: 29px !important;
    }
    .background {
        background-image: url("../public/Assets/Images/Fontana_Opening_Lorenzo_Palmieri_062.jpg");
        background-position: 47% 30%; 
        width: 100%;
        height: 100vh;
        background-size: 260% auto;
        resize: both;
    }
    .background1 {
        background-image: url("../public/Assets/Images/laibBlütenP.jpg");
        width: 100%;
        height: 100vh;
        background-size: 150% auto;
        background-position: 60% 70%; 
        resize: both;
    }
    .background2 {
        /* background-color: #e6e6e4; */
        background-image: url("../public/Assets/Images/ROH-Exhibitions9-1600x900.jpg");
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        background-size: 150% auto;
        background-position: 30% 90%; 
        resize: both;
    }
    
    .background4::before {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        content: "";
        background-image: url("../public/Assets/Images/SUR_SRW_Aman-dan-Gunung-1349x900.jpg");
        width: 100%;
        height: 100vh;
        background-size: 300% auto;
        background-position: 55% 39%;
        background-repeat: no-repeat;
        resize: both;
        z-index: -10;
        top: 0;
        left: 0;
        resize: both;
        position: absolute;
    }
    .background4 {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100vh;
    }
    .listContainer {
        position: absolute;
        width: 85px;
        height: 21px;
        left: 29px;
        top: 169px;
    }
    .nav {
        position: absolute;
        width: 61px;
        height: 30px;
        left: 29px;
        top: 31px;
    }
  } 
